@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.navigation{
  height: 60px;
  background: #fff;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #ddd;
}

.side-nav{
  padding: 1rem 2rem;
  background: #fff;
  border-right: 1px solid #ddd;
  min-height: 600px;
}

.content{
  padding:2rem;
}

.avatar{
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background:#27D0D9;
  border-radius:100%;
  flex-shrink: 0;
}

.sub-nav{
  padding: 0.5rem;

}
.active-nav{
  background: #EAFEFF;
  padding: 0.5rem;
  color: #068E95;
}

.search-bar{
  width: 400px;
}

.plan-bar{
  border: 1px solid #ddd;
  border-radius: 5px 0px 0px 5px;
  padding: 5px 10px;
}

.search-area{
  font-size: 14px;
  background: #EFF0F6;
  width: 250px;
  color: #6E7191;
  /* font-size: 16px; */
  padding-left: 5px;
  border-radius: 0px 5px 5px 0px;
}

.text-area{
  background: #EFF0F6;
}

.button{
  font-size: 14px;
  width:120px;
  border: 1px solid #ddd;
  padding: 5px 10px;
  justify-content: space-between;
    align-items: center;
  
  border-radius: 5px;
}

.btn-primary{
  background:#06A9B1;
  color:#fff;
  border:none;
}

.clr-primary{
  color:#068E95;
}

.bg-primary{
  background:#068E95;
}